.idea/
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/
dist/
dist-ssr/
*.local

# Editor-specific files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Vite-specific
# If you use the lightning-fast dev server, sometimes these appear
.vite/

# TypeScript-specific (if applicable)
*.tsbuildinfo
